<?xml version="1.0"?><!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  --><configuration>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <connectionStrings>
      <add name="labetxeConnectionString" connectionString="User Id=root;Host=localhost;Database=labetxe" providerName="Devart.Data.MySql"/>
      <add name="reto_gp2ConnectionString"
      
  connectionString="User Id=gp2;Password=NuG7FqwibR1ZAuKy;Host=kasserver.synology.me;Port=3307;Database=reto_gp2;Persist Security Info=True"
      
  providerName="Devart.Data.MySql"/>
      <add name="reto_gp2ConnectionString2"
      
  connectionString="User Id=gp2;Password=NuG7FqwibR1ZAuKy;Host=kasserver.synology.me;Port=3307;Database=reto_gp2;Persist Security Info=True"
      
  providerName="Devart.Data.MySql"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.6.2">
      <assemblies>
        <add assembly="CrystalDecisions.Web, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
      <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.ReportSource, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.Shared, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/></assemblies>
    </compilation>
    <httpRuntime targetFramework="4.6.1"/>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="es-ES" uiCulture="es-ES"/>
  <httpHandlers><add verb="GET" path="CrystalImageHandler.aspx"
  type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/></httpHandlers></system.web>
  <appSettings>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
      <add key="CrystalImageCleaner-AutoStart" value="true"/>
      <add key="CrystalImageCleaner-Sleep" value="60000"/>
      <add key="CrystalImageCleaner-Age" value="120000"/>
  </appSettings>
<system.webServer><handlers><add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx"



type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"



preCondition="integratedMode"/></handlers><validation validateIntegratedModeConfiguration="false"/></system.webServer>
<system.codedom>

<compilers>


<compiler language="c#;cs;csharp" extension=".cs"



type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"



warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>


<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"



type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"



warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>

</compilers>
</system.codedom></configuration>